        {% extends "content_template.html" %}

		{% block logo %}<h1 class="logo">NewsRivr</h1>{% endblock %}

		{% block title %}Problem 500{% endblock %}

		{% block content %}
								<div style="text-shadow:0 1px 0 #fff;">
							<section class="info" style="text-align:left;margin-top: -65px;">

<p>a problem is detected</p>
							</section>
aplogies, we will check it out asap.
<br/>
<a href="mailto:info@active8.nl">info@a8.nl<br/>
<br/>
<br/>
                            <a href='/'>Back to timeline</a>
						</div>

		{% endblock %}

