        {% extends "content_template.html" %}

		{% block logo %}<h1 class="logo">NewsRivr</h1>{% endblock %}

		{% block title %}Welcome{% endblock %}

		{% block content %}		
							<section class="info" style="text-align:left;margin-top: -65px;">
<p>Welcome to NewsRivr!</p>
							</section>
Hello and welcome to NewsRivr, glad you found us!<br/>
<br/>
NewsRivr is a innovative way of reading your tweets in a 'River of News' and was invented by Dave Winer (1)<br/>
We try to give you our heart and soul implementation of this concept.<br/>
<br/>
NewsRivr pulls in the relevant text and images from the page where the tweets links to, and displays them in the timeline.
In that way a River of News tabs into the brain's excellent scanning capabilities. It allows you scan headlines and images for relevant information and immediately read them inline.
This is a huge timesaver compared to the read, click on a link, wait and read again method of the normal timeline.<br/><br/>
<i>From the normal timeline:</i><br/>
<img src='/static/images/screenshot_tweetie.png'>
<br/><br/>
<i>To an enriched timeline:</i><br/>
<img src='/static/images/screenshot_newsrivr.png' width='100%'>
<br/>
<br/>
Besides that feature, it's just another feature complete twitter client with tweet, reply, retweet, favorites and list implementations of the api.<br/>
<br/>
There is also a mobile version which get loaded automatically on an iPad or iPhone.<br/>
<br/>
We hope you like enjoy the product and any feedback is higly appreciated!<br/>
<br/>
To start just click the button below and authorize us to access your tweets, at every time you can stop this.<br/>
<br/>
Enjoy!<br/>
<a href='http://twitter.com/erikdejonge'>Erik de Jonge</a><br/>
<a href='http://twitter.com/NewsRivr'>@NewsRivr</a><br/><br/>
1. <a target="_blank" href="http://www.reallysimplesyndication.com/riverOfNews">Dave Winer</a>
<br/>
          					<section class="sign-in">							
								<a href="/auth/" class="btn-sign-in">Sign in with Twitter</a>						
							</section>
						<section class="info">
							<p>&nbsp;</p>
						</section>                  
						</div>			

		{% endblock %}


















































