        {% extends "content_template.html" %}

		{% block logo %}<h1 class="logo"><a href="/">NewsRivr</a></h1>{% endblock %}

		{% block title %}Opt out{% endblock %}

		{% block content %}
						<div style="text-shadow:0 1px 0 #fff;">
							<section class="info" style="text-align:left;margin-top: -65px;">
								<p>Opt out</p>
							</section>
							You're out of the system, all your data has been deleted.<br><br>
                            <a href='/'>Sign in</a>
						</div>
		{% endblock %}

