        {% extends "content_template.html" %}

		{% block logo %}<h1 class="logo">NewsRivr</h1>{% endblock %}

		{% block title %}Welcome{% endblock %}

		{% block content %}
								<div style="text-shadow:0 1px 0 #fff;">
							<section class="info" style="text-align:left;margin-top: -65px;">
<p>Welcome to NewsRivr!</p>
							</section>
Hello and welcome to NewsRivr, glad you found us!<br/>
<br/>
NewsRivr is a innovative way of reading your tweet in a 'River of News' and was invented by Dave Winer, all credits for the concept go to him. 
We merely tried to give you our heart and soul implementation of this concept.<br/>
<br/>
NewsRivr pulls in the relevant text and images where the tweets links to, and displays them in the timeline.
In that way a River of News tabs into the brain's excellent scanning capabilities. It allows you scan headlines images for relevant information and immediately read them inline.
This is a huge timesaver compared to the read, click on a link, wait and read again method of the normal timeline.<br/>

<br/>
Besides that, it all works as a normal twitter client, complete with tweet, reply, retweet, favorites and list implementation.<br/>
<br/>
There is also a mobile version which get loaded automatically on an iPad or iPhone.<br/>
<br/>
We hope you like enjoy the product and any feedback is higly appreciated.<br/>
<br/>
To start just click the button below and authorize us to access your tweets, at every time you can stop this.<br/>

<br/>
Erik de Jonge<br/>
<a href='@erikdejonge'><br/>
Programmer @NewsRivr <br/>

<br/>
						</div>

		{% endblock %}























































