        {% extends "content_template.html" %}

		{% block logo %}<h1 class="logo">NewsRivr</h1>{% endblock %}

		{% block title %}About{% endblock %}

		{% block content %}
								<div style="text-shadow:0 1px 0 #fff;">
							<section class="info" style="text-align:left;margin-top: -65px;">

<p>Enriched twitter</p>
</section>
Newsrivr is a twitter client which detects links to websites in a tweet. If it finds one it will try to download the content,<br/>images, movies and text in order to enrich your twitter feed into a 'River of News'.
<br/><br/>
From the normal timeline:<br/>
<img src='/static/images/screenshot_tweetie.png'>
<br/><br/>
To an enriched timeline:<br/>
<img src='/static/images/screenshot_newsrivr.png' width='100%'>
<br/><br/>
Feature complete with Android, iPhone and iPad versions:<br/>
<img src='/static/images/screenshot_ipad.png' width='100%'>
<br/><br/>
Please give it a <a href="/">try</a>
						
<br/><br/>
This product is made by:<br/>
<b>Active8 B.V.</b><br/>
Wijnhaven 65<br/>
3011 WJ  Rotterdam<br/>
The Netherlands<br/>
t: +31(0) 10-4144399<br/>
f: +31(0) 10-4144720<br/>
w: <a href="http://www.active8.nl">www.a8.nl</a><br/>
e: <a href="mailto:info@active8.nl">info@a8.nl<br/>
<br/>
<br/>
                            <a href='/'>Back to timeline</a>
						</div>

		{% endblock %}


















































