
<!DOCTYPE html> 
<html> 
	<head>
	<title>{%block title%}{{title}}{%endblock%}</title> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/static/images/favicon.ico" />

	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>	
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script> 
				
	<script type="text/javascript" src="http://use.typekit.com/nsy7xbx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<link media="all" rel="stylesheet" href="/static/css/mobilejquery.css">
	{% block scripts %}
	{% endblock %}	
</head> 
<body> 

{% block content %}
{% endblock %}

</body> 
</html>

